.todo-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
  
    // .todo-text {
    //   flex: 1;
    //   word-wrap: break-word; 
    // }
  
    .done-button,
    .delete-button {
      height: 50px;
      width: 50px;
      background-color: gainsboro;
      font-size: 24px;
      border: 0;
      display: flex;
      justify-content: center;
      align-items: center;
  
      &:hover {
        cursor: pointer;
      }
    }
  
    .done-button {
      color: green;
    }
  
    .delete-button {
      color: red;
    }
  }
  